@import "./logo.scss";
@import "./posts.scss";
@import "./home.scss";
@import "./search-bar.scss";
@import "./recent-posts.scss";


body {
    font-family: 'Lato', sans-serif;
}

.logo-main {
    display: grid;
    justify-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}