@import "./logo.scss";
@import "./posts.scss";
@import "./home.scss";
@import "./search-bar.scss";


body {
    font-family: 'Lato', sans-serif;
}

.logo-main {
    display: grid;
    justify-items: center;
}