@import "./mixin.scss";
@import "./logo.scss";
@import "./posts.scss";
@import "./home.scss";
@import "./search-bar.scss";
@import "./recent-posts.scss";
@import "./results.scss";

body {
    font-family: 'Lato', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}