.results {
    // @include default();
    height: 100vh;
    width: 66vw;
    display: grid;
    margin-top: 50px;
    grid-row-gap: 40px;
}

.results-posts {
    
    .results-posts-wrapper {

        .result-posts-posts {
            display: grid;
            grid-row-gap: 20px;
            justify-content: stretch;
        }
    }
}


.result-post {
    display: grid;
    align-content: space-around;
    grid-row-gap: 22px;

    .result-post-topics > * {
        color: #0079ff;
        font-size: 14px;
        line-height: 17px;
    }
    .result-post-title {
        font-size: 18px;

        a {
            text-decoration: none;
            color: #666666;
        }

        .result-post-links {
            
        }
    }
}

.post-link{
    display: flex;
    min-height: 70px;

    .post-link-box{
        min-width: 70px;
        background: #bababa;
        border-radius: 5px;
        margin-right: 15px;
    } 
    
    .post-link-link{

        a {
            color: gray;
            font-size: 14px;
            line-height: 17px;
        }
    }
}